// body {
//     background: rgb(218, 215, 255);
//     background: linear-gradient(
//         90deg,
//         rgba(218, 215, 255, 1) 0%,
//         rgba(218, 249, 255, 1) 100%
//     );
// }

.welcome {
    // background: green;

    width: 100%;
    height: 100%;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    .sign-up-button {
        margin-top: 10px;
    }
    // }
}

.welcome-title {
    color: white;
    // font: 2em !important;
    font-weight: bold !important;
    -webkit-text-stroke: 3px #3f51b5;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10000;
    height: 100%;
    width: 100%;
    background-image: url("../images/bg.png");

    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    pointer-events: none;
}
