.title {
    flex-grow: 1;
}

.title-text {
    &:hover {
        cursor: pointer;
    }
    width: fit-content;
}

root {
    flex-grow: 1;
    // height: 100%;
    // width: 100%;
}

.add-post {
    color: white;
}
